<div class="row">
    <div class="container">
        <div class="logo">
            <img id="logo" src="../../../assets/APLogo-20-20.png" alt="Logo Argentina Programa">
        </div>
            <div class="redes">
                <a href="#"><img src="../../../assets/github.png" alt="Logo Github"></a>
                <a href="#"><img src="../../../assets/whatsapp.png" alt="Logo whatsapp"></a>
                <button type="button" class="btn btn-outline-dark btn-sm">Login</button> 
            </div>
            
    </div>
</div>

