<div class="row card">
    <h1>Proyectos Realizados</h1>
<div class="container">
<div class="col-sm-6 col-md-6 col-lg-6 titulo">
<h2>Pagina web institucional</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam culpa natus, totam quidem consectetur nesciunt? Iusto voluptates dignissimos modi inventore! Vitae, iusto beatae consectetur aliquid similique consequuntur dolorum quaerat quo?

</p>
<h2>Portfolio Personal</h2>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis maxime, inventore provident, quisquam architecto voluptate impedit voluptatem eius esse molestias quis ipsum alias vero recusandae cum ab exercitationem officia doloribus.</p>
</div>


</div>
</div>