.row{
    padding: 20px;
}
.card{
    border-radius: 30px;
   width: auto;
   background: rgb(250,247,235);
   background: linear-gradient(0deg, rgba(250,247,235,0.8743872549019608) 0%, rgba(242,241,230,0.09567577030812324) 100%);
}