
    <div class="row acerca">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
    <img id="perfil" class="img-fluid" src="../../../assets/foto-perfil.jpg" alt="Foto de Perfil">
</div>
<div id="datos" class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
    <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
    <p>Full Stack Developer Jr</p>
</div>
<div id="about" class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <span>
        <h1 id="titulo">Acerca de mí</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, vero repellendus reprehenderit officia quidem temporibus esse placeat sapiente provident deserunt consectetur et debitis dicta excepturi molestias, expedita quo. Obcaecati, est?</p>
    </span>
</div>
</div>

