<div class="row card col-xs-4 col-sm-6 col-md-12 col-lg-12">
  <h1>Conocimientos y Habilidades</h1>
  <div class=" skill-main">
    <div class="skill-bar col-xs-4 col-sm-6 col-md-12 col-lg-12">
      <div class="info">
        <img src="../../../assets/html-logo.png"><p>HTML</p>
        <p class="percent">80%</p>
      </div>
      <div class="bar">
        <span class="html"></span>
      </div>
    </div>

    <div class="skill-bar col-xs-4 col-sm-6 col-md-12 col-lg-12">
      <div class="info">
        <img src="../../../assets/css-logo.png"><p>CSS</p>
        <p class="percent">80%</p>
      </div>
      <div class="bar">
        <span class="css"></span>
      </div>
    </div>

    <div class="skill-bar col-xs-4 col-sm-6 col-md-12 col-lg-12">
      <div class="info">
        <img src="../../../assets/java-logo.png"><p>Java</p>
        <p class="percent">80%</p>
      </div>
      <div class="bar">
        <span class="java"></span>
      </div>
    </div>

    <div class="skill-bar col-xs-4 col-sm-6 col-md-12 col-lg-12">
      <div class="info">
        <img src="../../../assets/angular_logo.png"><p>Angular</p>
        <p class="percent">60%</p>
      </div>
      <div class="bar">
        <span class="angular"></span>
      </div>
    </div>

    <div class="skill-bar col-xs-4 col-sm-6 col-md-12 col-lg-12">
      <div class="info">
        <img src="../../../assets/MySQL-logo.png"><p>MySQL</p>
        <p class="percent">70%</p>
      </div>
      <div class="bar">
        <span class="sql"></span>
      </div>
    </div>

    <div class="skill-bar col-xs-4 col-sm-6 col-md-12 col-lg-12">
      <div class="info">
        <img src="../../../assets/JavaScript-logo.png"><p>JavaScript</p>
        <p class="percent">50%</p>
      </div>
      <div class="bar">
        <span class="js"></span>
      </div>

    </div>
    <div class="skill-bar col-xs-4 col-sm-6 col-md-12 col-lg-12">
      <div class="info">
        <img src="../../../assets/usa-icon-flag-vector.jpg"><p>English</p>
        <p>90%</p>
      </div>
      <div class="bar">
        <span class="ingles"></span>
      </div>
    </div>
  </div>