div{
    background: linear-gradient(to bottom right,#424632,white);
    
    border-top-left-radius: 50px;
    border-top-right-radius: 20px;
}
app-redes{
    float: right;
    margin-top: 60px;
}
app-banner{
    width:max-content;
    

}