.head{
    background: linear-gradient(to bottom right,#484848,white);
    padding-left: 10px;
    padding-right: 10px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    
}
app-redes{
    float: right;
       
    margin-bottom: 20px;
}
app-banner{
    width:auto;
    

}
app-logo{
position: relative;

}