div{
    background: linear-gradient(to bottom right,#424632,white);
    padding-left: 30px;
    padding-right: 30px;
    border-top-left-radius: 50px;
    border-top-right-radius: 20px;
}
app-redes{
    float: right;
    margin-top: 60px;
}
app-banner{
    width:max-content;
    

}