<div class="row card col-lg-12">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h4>Docente Secundario</h4>
                <h5>(2008-Actual)</h5>
                <h6> Escuela 4111 - Ing. Pablo Nogués</h6>
                <p> Docente de taller. Instalaciones eléctricas domiciliarias.
                    Coautor proyecto “Página Web Institucional”. Diseño local de servidor y página
                    web integrada con Joomla!
                    Servidor XAMPP en sistema Linux.</p>
            </li>
            <li>
                <h4>Becario Asistente</h4>
                <h5>(2016-2018)</h5>
                <h6> IRESE - UTN - FRM</h6>
                <p>Becario del Instituto Regional de Estudios Sobre Energía. Sector Eléctrico.
                    Colaborador en proyecto “Eficiencia de alumbrado público”.
                    Trabajos a terceros:
                    Análisis de perturbaciones de luminarias individuales.
                    Licitación de Catálogo Permanente para la Provincia de Mendoza.
                    Medición y análisis de perturbaciones de calidad de energía eléctrica.
                    Confección de informes.
                    Mediciones en campo de Estadio la Pedrera, San Luis, Argentina.</p>
            </li>
        </ul>
    </div>
</div>