.card{
    border-radius: 30px;
    align-self: center;
    width: auto;
    background: rgb(242,241,230);
    background: linear-gradient(0deg, rgba(242,241,230,0.11808473389355745) 0%, rgba(250,247,235,1) 100%);
}
.row{
    
    padding-left: 30px;
    padding-right: 30px;
}
h5,h6{
    display: inline;
    padding-right: 2px;
    padding-bottom: 5px;
}
p{
    padding-top: 5px;
}
