<div class="row card col-lg-12">
    <h1>Educación</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h4>Full Stack Developer</h4>
                <h5>(2021 - 2022)</h5>
                <h6> INTI - Argentina Programa</h6>
                <p> Curso de Full Stack Developer brindado por el Gobierno nacional
                    junto a otras instituciones estatales. Argentina Programa. </p>
                    <hr>
            </li>
            <li>
                <h4>Ingeniería Electromecánica</h4>
                <h5>(2003)</h5>
                <h6> UTN - Facultad Regional Mendoza</h6>
                <p>Carrera de Ingeniería Electromecánica. Cursado Completo.
                    8 materias restantes.
                </p>
                <hr>
            </li>
            <li>
                <h4>Profesorado de Nivel Secundario</h4>
                <h5>(2013 - 2016)</h5>
                <h6> ISTEEC - Mendoza, Argentina</h6>
                <p>Carrera de Profesorado de nivel secundario, en concurrencia con el título de base. Electrotécnico.
                   
                </p>
                <hr>
            </li>
            <li>
                <h4>Electrotécnico</h4>
                <h5>(1997 - 2002)</h5>
                <h6>Escuela 4-111 Ing. Pablo Nogués</h6>
                <p>Título técnico de nivel Secundario. 
                   
                </p>
                
            </li>
        </ul>
    </div>
</div>
